/*
 * CSS Fadeshow by @alexerlandsson
 * This is a fadeshow built in CSS and with customization in focus.
 * Supports quick navigation, prev/next navigation and autoplay.
 *
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-fadeshow
 */


 /*
  * ===== SETTINGS =====
  *
  * Change these variables to match your preferences. For a more detailed
  * description of what each variable do, visit https://github.com/alexerlandsson/css-fadeshow
  */

 $max-slides:				5;
 $prefix:					true;
 $responsive:				true;
 $breakpoint-small:			500px;
 $fade-time:				1;
 $prev-next-fontfamily:		sans-serif;
 $prev-next-icon-size:		3vw;
 $prev-next-icon-color:		rgba(255,255,255,0.5);
 $prev-next-bg:				rgba(255,255,255,0);
 $prev-next-bg-hover:		rgba(255,255,255,0.1);
 $prev-icon:				'❮';
 $next-icon:				'❯';
 $autohide-next-prev:		true;
 $quick-nav-color:			rgba(255,255,255,0.8);
 $quick-nav-active-color:	coral;
 $fade-color:				#fff;
 $autoplay:					true;
 $autoplay-duration:		5;


/*
 * ===== IMPORTS =====
 *
 * Do not change anything here or in the imported files unless you know what you are doing.
 */

@import "imports/_mixins";
@import "imports/_base";
@import "imports/_prevnextnav";
@import "imports/_autoplay";

@if $autoplay == true {
	@include fs-autoplay();
}
