/*
 * ===== AUTOPLAY =====
 */

@mixin fs-autoplay() {

	@for $i from 2 through $fs-max-slides {

		$total-duration: $fs-autoplay-duration * $i;

		/* Slide Autoplay */
		@keyframes slidesAnimation-#{$i} {
			0% { opacity: 0; }
			#{100% * $fs-fade-time / $total-duration},
			#{100% * $fs-autoplay-duration / $total-duration} { opacity: 1; }
			#{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
			100% { opacity: 0; }
		}
		@if $fs-prefix == true {
			@-webkit-keyframes slidesAnimation-#{$i} {
				0% { opacity: 0; }
				#{100% * $fs-fade-time / $total-duration},
				#{100% * $fs-autoplay-duration / $total-duration} { opacity: 1; }
				#{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
				100% { opacity: 0; }
			}
		}

		/* Quick Navigation Autoplay */
		@if $fs-include-quicknav == true {
			@keyframes quickNavAnimation-#{$i} {
				0% { @include quickNavBtnInactive();  }
				#{100% * $fs-fade-time / $total-duration},
				#{100% * $fs-autoplay-duration / $total-duration} { @include quickNavBtnActive(); }
				#{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
				100% { @include quickNavBtnInactive(); }
			}
			@if $fs-prefix == true {
				@-webkit-keyframes quickNavAnimation-#{$i} {
					0% { @include quickNavBtnInactive();  }
					#{100% * $fs-fade-time / $total-duration},
					#{100% * $fs-autoplay-duration / $total-duration} { @include quickNavBtnActive(); }
					#{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
					100% { @include quickNavBtnInactive(); }
				}
			}
		}

		[data-am-fadeshow~="autoplay"] {
			input[type="radio"]:nth-of-type(#{$i}):last-of-type {
				/* Slide animation */
				~ .fs-slides {
					.fs-slide {
						@include fadeshow-animation(slidesAnimation-#{$i} #{$total-duration}s infinite);
					}
				}
				/* Quick navigation animation */
				@if $fs-include-quicknav == true {
					~ .fs-quick-nav {
						.fs-quick-btn {
							@include fadeshow-animation(quickNavAnimation-#{$i} #{$total-duration}s infinite);
						}
					}
				}
				/* Animation Delay */
				@for $j from 1 through $i {
					$animation-delay: #{($j - 1) * ($fs-autoplay-duration) - $fs-fade-time}s;
					~ .fs-slides .fs-slide:nth-child(#{$j}){
						@include fs-mixin-animation-delay(#{$animation-delay});
					}
					@if $fs-include-quicknav == true {
						~ .fs-quick-nav .fs-quick-btn:nth-child(#{$j}) {
							@include fs-mixin-animation-delay(#{$animation-delay});
						}
					}
				}
			}
			@if $fs-include-prevnextnav == true {
				/* Hide Prev/Next Navigaiton when auoplay is active */
				.fs-prev-btn:last-child {
					display: none;
				}
				.fs-next-btn:nth-child(2) {
					display: none
				}
			}
			@if $fs-include-slidecounter == true {
				/* Hide Slide Counter when autoplay is active */
				.fs-slide-counter {
					opacity: 0;
				}
			}
		}
	}

}
