/*
 * ===== MIXINS =====
 */

/* Fadeshow Core */

@mixin fs-mixin-slideActive() {
	opacity: 1;
}

@mixin fs-mixin-slideInactive() {
	opacity: 0;
}

/* Prefixes */

@mixin fs-mixin-transition($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $fs-prefix == true {
		-webkit-transition: $value;
	}
				transition: $value;
}

@mixin fs-mixin-transform($value...) {
	@if length($value) < 1 {
		$value: all 150ms linear;
	}
	@if $fs-prefix == true {
		-webkit-transform: $value;
			-ms-transform: $value;
	}
				transform: $value;
}

@mixin fs-mixin-animation($value...) {
	@if $fs-prefix == true {
		-webkit-animation: $value;
	}
				animation: $value;
}

@mixin fs-mixin-animation-delay($value) {
	@if $fs-prefix == true {
		-webkit-animation-delay: $value;
	}
				animation-delay: $value;
}

@mixin fs-mixin-unselectable() {
	@if $fs-prefix == true {
		-webkit-user-select: none;
		   -moz-user-select: none;
		   	-ms-user-select: none;
	}
				user-select: none;
}

/* Keyframes */

@mixin fs-mixin-keyframes($animation-name) {
	@if $fs-prefix == true {
		@-webkit-keyframes #{$animation-name} {
			@content;
		}
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
