/*
 * ===== PREV/NEXT NAVIGATION =====
 */

@mixin fs-prevnextnav() {

	[data-am-fadeshow~="prev-next-nav"] {

		.fs-prev-btn,
		.fs-next-btn {
			display: none;
		}

		/* Display first pair of Prev/Next Buttons on load */
		.fs-prev-btn:last-child {
			display: block;
		}
		.fs-next-btn:nth-child(2) {
			display: block
		}
	}

}
