// ===== AUTOPLAY =====

// TODO: Figure out how to add autoplay to Prev/Next Navigation and Slide Counter

@mixin fs-autoplay {
  [data-am-fadeshow~='autoplay'] {
    @for $i from 2 through $fs-max-slides {
      $total-duration: $fs-autoplay-duration * $i;

      // Slide Autoplay
      @include fs-mixin-keyframes(slidesAutoplay-#{$i}) {
        // sass-lint:disable-block empty-line-between-blocks, brace-style
        0% { @include fs-mixin-slide-inactive; }
        #{100% * $fs-fade-time / $total-duration},
        #{100% * $fs-autoplay-duration / $total-duration} { @include fs-mixin-slide-active; }
        #{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
        100% { @include fs-mixin-slide-inactive; }
      }

      // Quick Navigation Autoplay
      @if $fs-include-quicknav {
        @include fs-mixin-keyframes(quickNavAutoplay-#{$i}) {
          // sass-lint:disable-block empty-line-between-blocks, brace-style
          0% { @include fs-mixin-quick-nav-btn-inactive;  }
          #{100% * $fs-fade-time / $total-duration},
          #{100% * $fs-autoplay-duration / $total-duration} { @include fs-mixin-quick-nav-btn-active; }
          #{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
          100% { @include fs-mixin-quick-nav-btn-inactive; }
        }
      }

      // Ken Burns Autoplay
      @if $fs-include-kenburns {
        @include fs-mixin-keyframes(kenBurnsAutoplay-#{$i}) {
          // sass-lint:disable-block empty-line-between-blocks
          0% {
            @include fs-mixin-transform(none);
          }
          #{100% * ($fs-autoplay-duration + $fs-fade-time) / $total-duration},
          100% {
            @include fs-mixin-transform(scale(#{$fs-kenburns-scale}));
          }
        }
      }

      input[type='radio']:nth-of-type(#{$i}):last-of-type {
        // Slide Animation
        ~ .fs-slides {
          .fs-slide {
            @include fs-mixin-animation(slidesAutoplay-#{$i} #{$total-duration}s infinite);
          }
        }

        // Quick Navigation Animation
        @if $fs-include-quicknav {
          ~ .fs-quick-nav {
            .fs-quick-btn {
              @include fs-mixin-animation(quickNavAutoplay-#{$i} #{$total-duration}s infinite);
            }
          }
        }

        // Animation Delay
        @for $j from 1 through $i {
          $animation-delay: #{($j - 1) * ($fs-autoplay-duration) - $fs-fade-time}s;

          ~ .fs-slides .fs-slide:nth-child(#{$j}) {
            @include fs-mixin-animation-delay(#{$animation-delay});
          }

          @if $fs-include-quicknav {
            ~ .fs-quick-nav .fs-quick-btn:nth-child(#{$j}) {
              @include fs-mixin-animation-delay(#{$animation-delay});
            }
          }
        }

        @if $fs-include-kenburns {
          @at-root {
            #{selector-append("[data-am-fadeshow~='ken-burns']", &)} {
              ~ .fs-slides {
                .fs-slide {
                  .fs-slide-bg {
                    @include fs-mixin-animation(kenBurnsAutoplay-#{$i} #{$total-duration}s infinite);
                  }
                }
              }

              @for $j from 1 through $i {
                $animation-delay: #{($j - 1) * ($fs-autoplay-duration) - $fs-fade-time}s;

                ~ .fs-slides .fs-slide:nth-child(#{$j}) .fs-slide-bg {
                  @include fs-mixin-animation-delay(#{$animation-delay});
                }
              }
            }
          }
        }
      }
    }

    // Hide Prev/Next Navigaiton while auoplay is running
    @if $fs-include-prevnextnav {
      .fs-prev-btn:last-child,
      .fs-next-btn:nth-child(2) {
        display: none;
      }
    }

    // Hide Slide Counter while autoplay is running
    @if $fs-include-slidecounter {
      .fs-slide-counter {
        opacity: 0;
      }
    }
  }
}

@if $fs-include-autoplay {
  @include fs-autoplay;
}
