// ===== MIXINS =====

// sass-lint:disable indentation

// Fadeshow Core

@mixin fs-mixin-slide-active {
  opacity: 1;
  z-index: 1;
}

@mixin fs-mixin-slide-inactive {
  opacity: 0;
  z-index: auto;
}

// Prefixes

@mixin fs-mixin-transition($value...) {
  @if length($value) < 1 {
    $value: all 150ms linear;
  }
  @if $fs-prefix {
    -webkit-transition: $value;
  }
            transition: $value;
}

@mixin fs-mixin-transform($value...) {
  @if length($value) < 1 {
    $value: all 150ms linear;
  }
  @if $fs-prefix {
    -webkit-transform: $value;
        -ms-transform: $value;
  }
            transform: $value;
}

@mixin fs-mixin-animation($value...) {
  @if $fs-prefix {
    -webkit-animation: $value;
  }
            animation: $value;
}

@mixin fs-mixin-animation-delay($value) {
  @if $fs-prefix {
    -webkit-animation-delay: $value;
  }
            animation-delay: $value;
}

@mixin fs-mixin-unselectable {
  @if $fs-prefix {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  }
            user-select: none;
}

// Keyframes

@mixin fs-mixin-keyframes($animation-name) {
  @if $fs-prefix {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
