// ===== PREV/NEXT NAVIGATION =====

@mixin fs-prevnextnav {

  [data-am-fadeshow~='prev-next-nav'] {
    .fs-prev-btn,
    .fs-next-btn {
      display: none;
      z-index: 2;
    }

    // Display first pair of Prev/Next Buttons on load
    .fs-prev-btn:last-child {
      display: block;
    }

    .fs-next-btn:nth-child(2) {
      display: block;
    }

    @if not $fs-prevnextnav-loop {
      // Hide previous button on first slide and next button on last slide
      .fs-prev-btn[for='slide-#{$fs-max-slides}'],
      .fs-next-btn[for='slide-1'] {
        display: none !important;
      }
    }
  }
}
