// ===== SLIDE COUNTER =====

@mixin fs-slidecounter {
  [data-am-fadeshow~='slide-counter'] {
    counter-reset: slideCounter;

    input[type='radio'] {
      counter-increment: slideCounter;
    }

    .fs-slide-counter {
      z-index: 2;
    }

    .fs-slide-counter-current {
      &:before {
        content: '1';
      }
    }

    .fs-slide-counter-total {
      &:before {
        content: counter(slideCounter);
      }
    }
  }
}

@if $fs-include-slidecounter {
  @include fs-slidecounter;
} @else {
  [data-am-fadeshow] {
    // Hide if set to false but added to html
    .fs-slide-counter {
      display: none !important;
    }
  }
}
