// Mixin to handle Quick Navigation active state
@mixin quick-nav-btn-active {
  background-color: #fff;
  width: 40px;
}

// Mixin to handle Quick Navigation inactive state
@mixin quick-nav-btn-inactive {
  background-color: rgba(255, 255, 255, 0.4);
  width: 20px;
}

@mixin fs-theme-quicknav {
  [data-am-fadeshow~='quick-nav'] {
    .fs-quick-nav {
      @include fs-mixin-unselectable;
      @include fs-mixin-transform(translateX(-50%));
      position: absolute;
      bottom: 15px;
      left: 50%;
      white-space: nowrap;
      z-index: 1;
    }

    .fs-quick-btn {
      @include fs-mixin-transition(all 200ms ease);
      @include quick-nav-btn-inactive;
      display: inline-block;
      height: 10px;
      margin: 0 2px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
